# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Docker files and system files
*.dockerignore
Dockerfile

# Logs and temp files
*.log
*.tmp
*.swp

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
