# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Python packaging artifacts
*.egg-info/
dist/
build/

# Logs
*.log

# Docker files you don’t want in image
Dockerfile
docker-compose.yml
